@import "header.css";

body {
    background-color: #F8DBD5;
    font-size: 20px;
}
.container {
    text-align: center;
    margin-top: 5%;
}
.container > h1 {
    font-size: 3vw;
    margin-bottom: 5%;
}