*{
    margin: 0;
    padding: 0;
}
.footer{
    background-color: #F8DBD5;
    height: 10%;
}
.containerfot{
    width: 90%;
    margin: auto;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
}
.containerfot ul a{
    display: flex;
    text-decoration: none;
    margin-bottom: 15%;
    color: rgb(77, 74, 74);
    font-size: 2vh;
}
.containerfot ul a:hover{
    color: black;
    text-decoration: underline;
}
.containerfot h3{
    color: rgb(77, 74, 74);
    font-size: 3vh;
    text-decoration:none;
    margin-bottom: 20%;

}
.containerfot ul{
    width: 10%;
    margin-bottom: 3%;
}
#Contact
{
    background-color: rgb(18, 109, 79);
    border-radius: 10px;
    width: max-content;
    padding: 10% 20%;
    color: white;
}
#lastul
{
    margin-right: 7%;
}