@import "header.css";

body {
    background-color: #F8DBD5;
    font-size: 20px;
}
.container {
    margin:5%;
}
#password-reset-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin:auto;
}
#password-reset-form > h1 {
    font-size: 3vw;
    margin-bottom: 2%;
}
#password-reset-form > p {
    margin-bottom: 5%;
}

.email-field {
    display: flex;
}
.input-items {
    padding: 20px;
    font-size: 20px;
}
.input-field {
    width:60%;
    border:none;
}
.reset-button {
    width: 40%;
    border:none;
}
.reset-button:hover {
    background-color: black;
    color: white;
}
.error-message {
    text-align: center;
    color: red;
    margin-top: 3%;
}