
*{
    margin: 0;
    padding: 0;
}

.header{
    height: 10vh;
    width: 100%;
    background-color: #F8DBD5;
    display: flex;
    align-items: center;
}
.containerhed{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerhed .logo{
    width: 7%;
}
.nav{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav a{
    text-decoration: none;
    font-size: 2.2vh;
    color: black;
    margin: 2%;
}
.nav a:hover{
    color: gray;
}
#getstarted
{
    border: 1px solid  rgb(55, 55, 133);;
    margin: 2%;
    font-size: 2.5vh;
    padding: 1vw;
    border-radius: 50%;
    color: rgb(55, 55, 133);
    width: max-content;
    padding: 1.2% 3%;
    text-align: center;
    cursor: pointer;
    border-radius: 40px;
}
#upgrade{
    background-color: rgb(18, 109, 79);
    border-radius: 10px;
    width: max-content;
    padding: 1.2% 2%;
    color: white;
}
.nav img{
    height: 4%;
    width: 4%;
    border: 1px solid black;
}

