*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F8DBD5;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 5%;
}
.actual
{
    width: 90%;
}
.welcome h1{
    color: black;
    font-size: 8vh;
    margin-left: 33%;
    margin-bottom: 10%;
}
.roomBox
{
    width: 50%;
    background-color: white;
    margin-left: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2%;
}
.subbox
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.subbox1
{
    display: flex;
    width: 45%;
    margin-left: 5%;
    align-items: baseline;
}
.subbox1 a{
    color: black;
    font-size: 1vw;
    margin-left: 4%;
}
.subbox2
{
    display: flex;
    width: 45%;
    justify-content: flex-end;
    margin-right: 5%;
    align-items: baseline;
}
.subbox2 a
{
    text-decoration: none;
    color: black;
    font-size: 1vw;
}
#goto{
    background-color: rgb(18, 109, 79);
    border-radius: 10px;
    width: max-content;
    margin-left: 2%;
    padding: 5% 6%;
    color: white;
}
.join{
    width: 99%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join p{
    color:rgb(18, 109, 79);
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 2vh;
    padding: 2%;
    margin: 2%;
}
.join p:hover{
    border: 1px solid black;
    border-radius: 10px;
}
.addmore
{
    width: 50%;
    margin-left: 20%;
    margin-top: 2%;
    border-radius: 15px;
    align-items: center;
    border: 1px solid blue;
    padding:1.2% 0;
    font-size: 1.3vw;
    text-align: center;
}
.addmore:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.addmore p{
    text-decoration: none;
}
.homeimage
{
    display: flex;
    justify-content: flex-end;
}
.homeimage img{
    z-index: -1;
    width: 35%;
    margin-right: 5%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* menu css*/
.containermanu
{
    background-color: #F8DBD5;
    width:16%;
    margin-top: 3%;
}
.containermanu ul{
    display: flex;
    flex-direction: column;
}
.containermanu ul a{
    text-decoration: none;
    margin-bottom: 7%;
    font-size: 2vh;
    padding: 6%;
    border-radius: 7px;
    color: black;
}
.containermanu ul a:hover{
    color: white;
    background-color: rgb(56, 56, 107);
}


/*create room box css*/

.createroombox{
    position: fixed;
    align-items: center;
    background-color: white;
    width: 30%;
    margin-top: 10%;
    margin-left: 37%;
    border-radius: 10px;
    padding: 1%;
}
.toplayer
{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}
.toplayer img{
    height: 1.5vh;
    margin-right: 2%;
    padding: .5vh;
}
.toplayer img:hover{
    border: 1px solid black;
}
.createroombox h3{
    font-size: 3vh;
    margin-bottom: 7%;
}
.createroombox p,h6{
    font-size: 2vh;
    margin-bottom: 5%;
}
.linktext{
    font-size: 2vh;
    padding: 4%;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 8%;
}
.con1{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.sub{
    display: flex;
}
.sub svg{
    fill: blue;
    width: 5%;
    margin-right: 3%;
    margin-top: -4%;
}
#Guests{
    margin-top: -3%;
    color: gray;
}
#box{
    display: none;
}

.submit-div{
    display: flex;
    justify-content: center;
}

.create-btn{
    padding: 1.5vh;
    width: 60%;
    background-color: #ccc;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 20px;
}

.create-btn:hover
{
    background-color: white;
    color: black;
    cursor: pointer;
}



/* joinroombox css */
.joinroombox
{
    position: fixed;
    align-items: center;
    background-color: white;
    width: 20%;
    margin-top: 10%;
    margin-left: 43%;
    border-radius: 10px;
    padding: 2%;
}
.joinroombox h3{
    font-size: 3vh;
    margin-bottom: 7%;
}
.joinroombox p,h6{
    font-size: 2vh;
    margin-top: 3%;
    margin-bottom:5%;
}
#linktext{
    text-align: center;
    margin-bottom: 2%;
}
.joinroombox{
    display: none;
}


/* slider button css*/

.switch {
    position: relative;
    display: inline-block;
    width: 6vh;
    height: 3.4vh;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2.6vh;
    width: 2.6vh;
    left: 0.4vh;
    bottom: 0.4vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(2.6vh);
    -ms-transform: translateX(2.6vh);
    transform: translateX(2.6vh);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 3.4vh;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .error-message {
      color: red;
      font-size: 16px;
      text-align: center;
      margin-top:10px;
      margin-right: 10%;
  }