@import "header.css";
@import "footer.css";

body {
    background-color: #F8DBD5;
}
.login-form-container {
    padding: 5%;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-container > h1 {
    font-size: 4vw;
}

.image-container1 > img {
    position: absolute;
    right: 25%;
    top:15%;
    z-index: -1;
    width: 30%;
    height: auto;
}
#login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 7%;
}

.input-label {
    font-weight: bold;
    margin-bottom: 1%;
    font-size: 1.2vw;
}

.input-field, .login-button {
    padding:15px;
    margin-bottom: 5%;
    font-size: 1.2vw;
    border: none;
    border-radius: 20px;
}
.login-button {
    background-color: white;
    color: black;
}
.login-button:hover {
    background-color: black;
    color: white;
}
#forgot-password {
    align-self: center;
    font-size: 1.2vw;
    text-decoration: none;
    margin-bottom: 2%;
}
#forgot-password:hover {
    color: white;
}

#sign-up-link {
    align-self: center;
    font-size: 1.2vw;
}
#sign-up-link > a {
    text-decoration: none;
}
#sign-up-link > a:hover {
    color: white;
}

.image-container2 > img{
    width: 35%;
    height: auto;
    z-index: -1;
}

.error-message {
    text-align: center;
    color: red;
    font-size: 20px;
    margin-bottom: 2%;
}


