@import "header.css";

body {
    background-color: #F8DBD5;
    font-size: 20px;
}

.container {
    margin: 5%;
}

#reset-password {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin:auto;
}
#reset-password > h1 {
    font-size: 3vw;
    margin-bottom:5%;
}
.input-items {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 3%;
    border: none;
    border-radius: 20px;
}

.reset-button:hover {
    color: white;
    background-color: black;
}
.error-message {
    color: red;
}