@import "header.css";
body {
    background-color: #F8DBD5;
    color:black;
    font-size: 20px;
}
.container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > h1 {
    font-size: 40px;
    margin-bottom: 10%;
}