
@import "header.css";
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #F8DBD5;
}
button:hover {
    cursor: pointer;
    background-color: blue;
}
.root-container {
    display: flex;
}
.main-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.video-view-container {
    display: flex;
    flex-wrap: wrap;
    height:80vh;
    overflow-y: auto;
}
.video-view-container > div {
    background-color: black;
    margin: 4px;
    flex: 1 1 calc(18% - 5px);
    max-width: 40%;
    height: auto;
}
.video-view-container >div >img {
    width: 100%;
    height: 100%;
}
.action-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.action-toggle-button-container {
    margin:5px;
    text-align: center;
    font-size: 13px;
}
.action-toggle-button {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
.action-toggle-button > svg {
    width: 50%;
    fill: white;
}

#mic-off-icon {
    width: 22px;
}

.action-toggle-text {
    margin-top: 5px;
}

.comment-people-container {
    display: none;
    flex: 1;
    background-color: whitesmoke;
}
.toggler {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3%;
}
.comment-view-toggle-button {
    border:none;
    background-color: rgba(0, 0, 0, 0.4);
    color:white;
}
.close-comment-people-window {
    margin-left: 25%;
    border:none;
    width:20px;
    background-color: transparent;
}
.chat-toggler {
    padding: 15px 25px;
    margin-left: 30%;
}
.people-toggler {
    padding: 15px 20px;
}

.comment-container {
    display: flex;
    flex-direction: column;
}
.comment-view {
    height: 82vh;
    padding: 10px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.comment-form {
    display: flex;
}
#comment-field {
    width:80%;
    height: 5vh;
    color:black;
    padding: 1.1vh;
    border: 1px solid black;
}
#comment-send-button {
    background-color: blue;
    border: none;
    height: 5vh;
    width:20%;
    color:white;
}
.user {
    background-color: rgba(0, 0, 0, 0.4);
    padding:5px;
    color:white;
}
.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top:15px;
}
.comment-left
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:15px;
}
.comment-time {
    font-size: 17px;
}
.commentator-name {
    margin-right: 12%;
    font-size: 17px;
}
.commentator-name-left{
    margin-left: 12%;
    font-size: 17px;
}
.comment-inside {
    display: flex;
}
.comment-text {
    padding: 15px;
    background-color: lightpink;
    border: none;
    width: max-content;
    border-radius: 10px;
    margin-right: 5px;
    align-self: center;
}

.comment-photo img{
    height: 50px;
    width: 50px;
    background-color: mediumseagreen;
    border:none;
    border-radius: 5px;
}




.people-container {
    padding: 10px;
    height: 87vh;
    overflow-y: auto;
}
.handDiv
{
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 5%;
}
.raise-hand-div
{
    display: none;
}
.raise-hand-div{
    display: flex;
    justify-content: flex-end;
}
.raise-hand-div svg{
    width: 4vh;
    height: 4vh;
    margin-right: 25%;
}
.user {
    align-items: center;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    margin-bottom: 2%;
}
.user-details {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}
.photo img{
    height: 50px;
    width: 50px;
    border:none;
    margin-left:20%;
}
.name {
    font-size: 20px;
    align-self: center;
    margin-left: 20%;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttons img{
    width: 10%;
    height: 10%;
    margin-right: 5%;
    fill: white;
}
.camera-button {
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-right: 10px;
    background-color: transparent;
    border:none;
    border-radius: 10px;
    color: white;
}
.mic-button {
    height: 40px;
    width: 40px;
    padding:4px;
    background-color: transparent;
    border:none;
    border-radius: 10px;
    fill:white;
}
#cam-off-icon{
    display: none;
}
#mic-off-icon{
    display: none;
}
.raise-hand-div{
    display: none;
}


