@import "header.css";
@import "footer.css";

body {
    background-color: #F8DBD5;
}

.sign-up-form-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
}
#sign-up-form-heading {
    font-size: 4vw;
}
#sign-up-form {
    display:flex;
    flex-direction: column;
    width: 40%;
}

.image-container > img{
    position: absolute;
    z-index: -1;
    left: 15%;
    top: 25%;
    width: 20%;
    height: auto;
}
.input-label {
    font-weight: bold;
    margin-bottom: 1%;
    font-size: 1.2vw;
}

.input-field, .sign-up-button {
    margin-bottom: 3%;
    padding: 10px;
    font-size: 1.2vw;
    border:none;
    border-radius: 20px;
}

#accept-terms {
    width:25px;
    height: 25px;
    border: 2px solid black;
}
.accept-terms-label {
    font-weight: 100;
    font-size: 1.2vw;
    margin-bottom: 2%;
}

#login-link {
    align-self: center;
    font-size: 1.2vw;
}

.image-container2 > img {
    position: absolute;
    right: 0;
    top: 60%;
    z-index: -1;
    width: 50%;
    height: auto;
}

.sign-up-button {
    background-color: white;
}
.sign-up-button:hover {
    background-color: black;
    color: white;
}
.sign-up-button:disabled {
    background-color: rgb(0,0,0,0.4);
    color: white;
}
#error-message {
    text-align: center;
    color: red;
}