<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgot-password.css">
    <title>reset password</title>
</head>
<body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
</style>
<div th:replace="header :: BeforeLogin"></div>
<div class="container">
    <form action="#" th:action="@{/auth/resetPasswordSendEmail}" id="password-reset-form" method="post">
        <h1 style="font-family: 'Comic Neue',serif">Forgot password</h1>
        <p>Plese enter your email to get verification link</p>
        <div class="email-field">
            <input type="email" name="email" class="input-items input-field" placeholder="enter your email">
            <input type="submit" name="submit" value="send" class="input-items reset-button">
        </div>
    </form>
    <p th:text="${error}" class="error-message"></p>
</div>
</body>
</html>