<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
</style>
<body>
<div th:replace="header::AfterLogin"></div>
<form class="createroombox" id="box" th:action="@{/room/create-room}" method="post"
      onsubmit="return checkSessionName()">
    <div class="toplayer">
        <h3>Create your personal room</h3>
        <img onclick="closeCreateBox()" src="/pics/close.png">
    </div>
    <p>This is your personal link for meetings so make sure you like it</p>
    <h6>whereby.com/</h6>
    <input type="text" name="roomName" class="linktext" placeholder="Company,project or other name"
           id="sessionName">
    <div class="con1">
        <div class="sub">

            <svg width="100%" height="100%" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                 class="BaseIcon--nykwo BaseIcon--primary--1x9yJ BaseIcon--sized--2HpVD">
                <path clip-rule="evenodd"
                      d="m7.49852 11.0629.24435-.0629h8.51423l.2444.0629c.863.2221 1.4985 1.0079 1.4985 1.9371v5c0 1.1046-.8954 2-2 2h-8c-1.10457 0-2-.8954-2-2v-5c0-.9292.63547-1.715 1.49852-1.9371zm1.50148-4.0629v2h6v-2c0-1.65685-1.3431-3-3-3s-3 1.34315-3 3zm8 0c0-2.76142-2.2386-5-5-5-2.76142 0-5 2.23858-5 5v2.12602c-1.72523.44404-3 2.01018-3 3.87398v5c0 2.2091 1.79086 4 4 4h8c2.2091 0 4-1.7909 4-4v-5c0-1.8638-1.2748-3.42994-3-3.87398zm-5 6c-.5523 0-1 .4477-1 1v2c0 .5523.4477 1 1 1s1-.4477 1-1v-2c0-.5523-.4477-1-1-1z"
                      fill-rule="evenodd"></path>
            </svg>

            <div>
                <p>Locked room</p>
                <p id="Guests">Guests need to knock to enter locked rooms</p>
            </div>
        </div>
        <div class="switchbtn">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="submit-div">
        <input type="submit" class="create-btn" value="Create My Room">
    </div>
</form>


<div class="joinroombox" id="joinotherbox">
    <div class="toplayer">
        <h3>Join room</h3>
        <img onclick="closeJoinBox()" src="/pics/close.png">
    </div>
    <h6>whereby.com/</h6>
    <form th:action="@{/room/join-room}" onsubmit="return checklink()" method="get">
        <input type="text" name="roomName" class="linktext" id="link" placeholder="room-name">
        <p id="linktext">hereby.com/room-name</p>
        <div class="submit-div">
            <input type="submit" class="create-btn" value="Join">
        </div>
    </form>
</div>

<div class="container">
    <div class="containermanu">
        <ul>
            <a href="">Rooms</a>
            <a href="">Subscription</a>
            <a href="/user/profile">Account</a>
            <a href="">Privacy</a>
            <a th:href="@{/logout}">Logout</a>
        </ul>
    </div>
    <div class="actual">
        <div class="welcome">
            <h1>Welcome!</h1>
        </div>
        <div class="roomBox">
            <div style="color: red;margin-left: 5%" th:if="${error}" th:text="${error}"></div>
            <div class="subbox" th:each="room : ${rooms}">
                <div class="subbox1">
                    <img class="icon--4Q-om"
                         src="https://d32wid4gq0d4kh.cloudfront.net/869dbfc53cc8aab6e8c75d8cd114ada7.svg">
                    <a href="" th:text="${room}"></a>
                </div>
                <div class="subbox2">
                    <a th:href="@{/room/delete(roomName=${room})}">Delete</a>
                    <a th:href="@{/room/goto-room(roomName=${room})}" id="goto">Go to room</a>
                </div>
            </div>
            <div class="join" onclick="callJoinDiv()">
                <p>join other room</p>
            </div>
        </div>
        <div class="addmore" onclick="myFunction()">
            <p>Add more rooms</p>
        </div>
        <div class="homeimage">
            <img src="/pics/homepageimage.png">
        </div>
    </div>
</div>
<div th:replace="footer::footer"></div>

<script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("box");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function closeCreateBox() {
        var x = document.getElementById("box");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }

    function callJoinDiv() {
        var x = document.getElementById("joinotherbox");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function closeJoinBox() {
        var x = document.getElementById("joinotherbox");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }

    function checklink() {
        if (document.getElementById("link").value === "") {
            return false;
        }
        return true;
    }

    function checkSessionName() {
        if (document.getElementById("sessionName").value === "") {
            return false;
        }
        return true;
    }

</script>
</body>
</html>
