<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
</style>
<div th:replace="header :: BeforeLogin"></div>
<div class="login-form-container">
    <h1 style="font-family: 'Comic Neue',serif">Log in</h1>
    <div class="image-container1">
        <img src="/images/login-image1.png" alt="birds">
    </div>
    <form th:action="login" onsubmit="return validateLogin()" id="login-form" method="post">
        <label for="userEmail" class="input-label">Email</label>
        <input type="email" name="username" id="userEmail" class="input-field" placeholder="enter email">
        <label for="userPassword" class="input-label">Password</label>
        <input type="password" name="password" id="userPassword" class="input-field" placeholder="enter password">
        <p th:text="${error}" id="error-message" class="error-message"></p>
        <input type="submit" name="submit" value="Log in" id="login-button" class="login-button">
        <a href="/auth/forgotPassword" id="forgot-password"> forgot password</a>
        <p id="sign-up-link">New to Whereby? <a href="/auth/sign-up"> Sign up for free</a></p>
    </form>
</div>
<div class="image-container2">
    <img src="/images/login-image2.png" alt="log">
</div>
<div th:replace="footer :: footer"></div>
<script src="/javaScript/login.js"></script>
</body>
</html>