<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhereBy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" th:href="@{/images/whereby.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
</style>
<body style="background-color: #F8DBD5">

<div th:insert="header :: AfterLogin"></div>
<section class="mx-20 my-10">
    <div class="flex justify-center">
        <h1 style="font-family: 'Comic Neue',serif" class="font-bold text-6xl">Profile</h1>
    </div>
    <div class="flex">
        <div class="flex flex-col ">
            <a href="/home" class="pl-5 pr-32 py-3 hover:bg-indigo-900 rounded-lg mb-4 hover:text-white outline-none">
                <p class="text-lg outline-none">Rooms</p>
            </a>
            <a href="#" class="pl-5 pr-32 py-3 hover:bg-purple-900 rounded-lg mb-4 hover:text-white outline-none">
                <p class="text-lg outline-none">Subscription</p>
            </a>
            <a href="/user/profile"
               class="pl-5 pr-32 py-3 hover:bg-purple-900 rounded-lg mb-4 hover:text-white outline-none">
                <p class="text-lg outline-none">Account</p>
            </a>
            <a href="#" class="pl-5 pr-32 py-3 hover:bg-purple-900 rounded-lg mb-4 hover:text-white outline-none">
                <p class="text-lg outline-none">Privacy</p>
            </a>
            <a th:href="@{/logout}"
               class="pl-5 pr-32 py-3 hover:bg-purple-900 rounded-lg mb-4 hover:text-white outline-none">
                <p class="text-lg outline-none">Logout</p>
            </a>
        </div>
        <input type="hidden" th:value="${userId}" id="userId">
        <div class="flex flex-col ml-10 w-3/4 mt-20">
            <div class="flex bg-white rounded-lg mb-6">
                <div class="flex flex-col m-10 items-center" id="imagecontainer">
                    <img th:src="@{'data:image/jpeg;base64,'+${image}}" id="image" class="rounded-lg"/>
                    <form class="flex flex-col mt-4 items-center" id="fileUploadForm" enctype="multipart/form-data"
                          method="post">
                        <input type="file" name="file" id="choose-file" multiple accept='image/*' value="Edit Image"
                               class="rounded-lg px-4 py-2 bg-green-900 text-white text-xl cursor-pointer outline-none"
                               style="display: none" onchange="editImage(this,event)">
                        <div class="flex mt-4" id="savediv">
                            <input type="submit" value="Save" id="savebtn"
                                   class="text-white mr-2 rounded-lg px-3 py-2 bg-green-900 text-xl cursor-pointer outline-none">
                            <button id="resetbtn" type="button" onclick="document.location.href= 'profile'"
                                    class="rounded-lg px-3 py-2 bg-white border border-red-500 cursor-pointer outline-none">
                                <p class="text-xl text-red-500">Cancle</p>
                            </button>
                        </div>
                    </form>
                    <div class="flex mt-4" id="editdiv">
                        <input type="button" value="Edit Image" id="edit-btn"
                               class="text-white mr-2 rounded-lg px-3 py-2 bg-green-900 text-xl cursor-pointer outline-none">
                    </div>
                </div>
                <div class="mt-10 mr-10 w-3/4">
                    <form th:action="@{/user/update}" onsubmit="return updateDetails()"
                          class="flex flex-col text-gray-700 " method="post">
                        <div class="flex flex-col mb-5">
                            <p class="font-bold mb-3 text-lg text-black">Name</p>
                            <input th:value="${username}" type="text" placeholder="User Name" name="username" id="name"
                                   class="border-2 border-gray-400 py-2 px-5 text-xl rounded-md focus:border-indigo-800 w-auto">
                        </div>
                        <div class="flex flex-col mb-4">
                            <p class="font-bold mb-3 text-lg text-black">Email</p>
                            <input th:value="${email}" type="email" placeholder="Email" name="email" id="email"
                                   class="border-2 border-gray-400 py-2 px-5 text-xl rounded-md focus:border-indigo-800">
                        </div>
                        <p th:text="${error}" id="error-message"></p>
                        <div class="flex">
                            <button type="button" onclick="window.location.href='/user/profile'"
                                    class="rounded-lg px-6 py-2 bg-white border border-red-500 text-xl cursor-pointer outline-none">
                                <p class="text-red-500">Cancel</p>
                            </button>
                            <input type="submit" value="Save"
                                   class="ml-6 rounded-lg px-8 py-2 bg-green-900 text-white text-xl cursor-pointer outline-none">
                        </div>
                    </form>
                </div>
            </div>
            <button id="show-delete-setting"
                    class="rounded-lg px-3 py-2 bg-transparent border border-purple-900 text-lg cursor-pointer outline-none w-1/6">
                <p class="text-purple-900 font-bold">Show more settings</p>
            </button>
            <div id="delete-account" class="flex flex-col bg-white rounded-lg my-5">
                <div class="flex flex-col mx-10 mt-10 mb-4">
                    <p class="text-black text-3xl">Delete account</p>
                    <p class="text-black text-lg mt-3">By deleting your account, you will be losing your account data
                        and personal rooms.
                        Once you delete your account, this information cannot be recovered.</p>
                </div>
                <button onclick="deleteAccount()"
                        class="ml-10 mb-6 rounded-lg px-3 py-2 bg-red-600 text-lg cursor-pointer outline-none w-1/6">
                    <p class="text-white font-bold">Delete your account</p>
                </button>
            </div>
        </div>
    </div>
</section>
<footer>
    <div th:insert="footer :: footer"></div>
</footer>
<script src="/javaScript/profile.js"></script>
</body>
</html>
