<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resend-email.css">
    <title>registration</title>
</head>
<body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
</style>
<div th:replace="header :: BeforeLogin"></div>
<div class="container">
    <h1 style="font-family: 'Comic Neue',serif">confirm Email</h1>
    <p>check your email for verification link</p>
    <a th:href="@{/auth/resendEmail/{token}(token=${token})}">resend verification link</a>
</div>

</body>
</html>