<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset-password.css">
    <title>reset password</title>
</head>
<body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
</style>
<div th:replace="header :: BeforeLogin"></div>
<div class="container">
    <form action="#" th:action="@{/auth/resetPassword/{token}(token=${token})}" id="reset-password" method="post">
        <h1 style="font-family: 'Comic Neue',serif">reset password</h1>
        <input type="password" name="password" class="input-items" placeholder="new password">
        <input type="password" name="confirmPassword" class="input-items" placeholder="confirm new password">
        <input type="submit" name="submit" value="Reset Password" class="input-items reset-button">
        <p th:text="${error}" class="error-message"></p>
    </form>
</div>
</body>
</html>