<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javaScript/openvidu-browser-2.12.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <!-- Bootstrap -->

    <link rel="styleSheet" th:href="@{/css/style.css}" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/room.css">
    <title>room</title>
</head>
<body>
<div class="root-container">
    <div class="main-container">
        <div th:replace="header :: AfterLogin"></div>
        <div id="main-container" class="container">
            <div id="logged">
                <div id="session">
                    <div id="session-header">
                        <h1 th:text="${sessionName}" id="session-title"></h1>
                        <form th:action="@{/room/leave-room}" method="post">
                            <input type="hidden" name="session-name" th:value="${sessionName}">
                            <input type="hidden" name="token" th:value="${token}">
                            <button id="buttonLeaveSession" class="btn btn-large btn-danger" type="submit"
                                    onclick="leaveSession()">
                                Leave session
                            </button>
                        </form>
                    </div>
                    <div id="main-video" class="col-md-6">
                        <p class="nickName"></p>
                        <p class="userName"></p>
                        <video autoplay="autoplay" playsinline="true"></video>
                    </div>
                    <div id="video-container" class="col-md-6"></div>
                </div>
            </div>
        </div>
        <div class="action-container">
            <div class="cam action-toggle-button-container" onclick="onOffCamera()">
                <button class="action-toggle-button" id="cam-toggle-button">
                    <svg id="cam-on-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-camera">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <svg id="cam-off-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-camera-off">
                        <line x1="1" y1="1" x2="23" y2="23"></line>
                        <path d="M21 21H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h3m3-3h6l2 3h4a2 2 0 0 1 2 2v9.34m-7.72-2.06a4 4 0 1 1-5.56-5.56"></path>
                    </svg>
                </button>

                <p class="action-toggle-text">cam</p>
            </div>
            <div class="mic action-toggle-button-container" onclick="onOffMic()">
                <button class="action-toggle-button" id="mic-toggle-button">
                    <svg id="mic-on-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                        <path d="M15,18.405c-0.553,0-1,0.447-1,1c0,0.046,0,5.124,0.001,5.16c0.076,6.14,4.928,11.185,11.007,11.687
                            C25.007,36.266,25,36.278,25,36.292v2.71h-4.546c-0.553,0-1,0.447-1,1s0.447,1,1,1h11.092c0.553,0,1-0.447,1-1s-0.447-1-1-1H27
                            v-2.71c0-0.014-0.007-0.026-0.008-0.04c6.055-0.501,10.905-5.524,11.006-11.636C37.999,24.555,38,19.467,38,19.405
                            c0-0.553-0.447-1-1-1s-1,0.447-1,1c0,0.061-0.001,5.039-0.002,5.178c-0.088,5.359-4.573,9.719-9.998,9.719
                            c-5.447,0-9.933-4.379-9.999-9.759C16,24.397,16,19.45,16,19.405C16,18.853,15.553,18.405,15,18.405z"/>
                        <path d="M32.9,24.482v-8.642c0-3.771-3.096-6.839-6.9-6.839s-6.9,3.068-6.9,6.839v8.642c0,3.771,3.096,6.839,6.9,6.839
                            S32.9,28.253,32.9,24.482z M21.1,24.482v-8.642c0-2.668,2.198-4.839,4.9-4.839s4.9,2.171,4.9,4.839v8.642
                            c0,2.668-2.198,4.839-4.9,4.839S21.1,27.15,21.1,24.482z"/>
                        </svg>
                    <svg id="mic-off-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 267318 333333"
                         shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                         image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                        <path d="M132969 258932v65404c0 5018-4066 8997-8997 8997-5018 0-8997-4066-8997-8997v-65404c-27598-2163-52427-14361-70941-32875-20504-20504-33221-48793-33221-79938 0-5018 4066-8997 8998-8997 5018 0 8997 4066 8997 8997 0 26127 10728 49918 27943 67220 17216 17216 41007 27944 67220 27944 26127 0 49918-10728 67220-27944 326-326 649-654 970-985l-23309-23309c-11404 11308-27070 18324-44276 18324-17302 0-33048-7094-44467-18514-11420-11420-18514-27165-18514-44468V81787L2716 22908c-3622-3622-3622-9496 0-13118s9495-3622 13118 0l248767 248767c3622 3622 3622 9496 0 13118s-9495 3622-13118 0l-46604-46604c-322 330-645 658-971 983-18514 18514-43343 30712-70941 32875zm23037-82733L79764 99957v44346c0 12371 5018 23531 13150 31664 8132 8132 19379 13150 31663 13150 12253 0 23317-4923 31429-12917zm62042-15723c716-4684 1088-9478 1088-14357 0-5018 4066-8997 8997-8997 5018 0 8997 4066 8997 8997 0 10203-1365 20100-3922 29517l-15161-15161zM124578 0c17303 0 33048 7094 44468 18513 11420 11420 18514 27165 18514 44468v67006l-18168-18168V62894c0-12371-5018-23531-13150-31664-8132-8132-19379-13150-31664-13150-12371 0-23531 5018-31663 13150-686 686-1349 1394-1989 2123L78144 20571c641-700 1296-1387 1967-2058C91530 7093 107276 0 124578 0z"
                              fill-rule="nonzero"/>
                    </svg>
                </button>
                <p class="action-toggle-text">mic</p>
            </div>
            <div class="share action-toggle-button-container">
                <button class="action-toggle-button" id="screen-toggle-button" onclick="screenShare()">
                    <?xml version="1.0" ?>
                    <svg enable-background="new 0 0 32 32" height="32px" id="svg2" version="1.1" viewBox="0 0 32 32"
                         width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                         xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"
                         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                         xmlns:svg="http://www.w3.org/2000/svg"><g id="background"><rect fill="none" height="32" width="32"/></g>
                        <g id="computer_x5F_settings"><path d="M30.766,27.531C31.545,26.2,31.999,24.654,32,23c-0.001-3.121-1.589-5.868-4-7.482V2H4v18h10.522   c-0.226,0.638-0.387,1.306-0.464,2H4l-4,8h17.349c1.545,1.248,3.51,1.999,5.651,2c2.142-0.001,4.104-0.752,5.649-2H32   L30.766,27.531z M6,18V4h20v10.523C25.061,14.19,24.054,14,23,14c-3.122,0-5.869,1.588-7.483,4H6z M16.115,23   c0.009-3.801,3.084-6.876,6.885-6.885c3.799,0.009,6.874,3.084,6.883,6.885c-0.009,3.799-3.084,6.874-6.883,6.883   C19.199,29.874,16.124,26.799,16.115,23z"/>
                            <path d="M28,24v-2.001h-1.663c-0.063-0.212-0.145-0.413-0.245-0.606l1.187-1.187l-1.416-1.415l-1.165,1.166   c-0.22-0.123-0.452-0.221-0.697-0.294V18h-2v1.662c-0.229,0.068-0.446,0.158-0.652,0.27l-1.141-1.14l-1.415,1.415l1.14,1.14   c-0.112,0.207-0.202,0.424-0.271,0.653H18v2h1.662c0.073,0.246,0.172,0.479,0.295,0.698l-1.165,1.163l1.413,1.416l1.188-1.187   c0.192,0.101,0.394,0.182,0.605,0.245V28H24v-1.665c0.229-0.068,0.445-0.158,0.651-0.27l1.212,1.212l1.414-1.416l-1.212-1.21   c0.111-0.206,0.201-0.423,0.27-0.651H28z M22.999,24.499c-0.829-0.002-1.498-0.671-1.501-1.5c0.003-0.829,0.672-1.498,1.501-1.501   c0.829,0.003,1.498,0.672,1.5,1.501C24.497,23.828,23.828,24.497,22.999,24.499z"/></g></svg>
                </button>
                <p class="action-toggle-text">share</p>
            </div>
            <div class="chat action-toggle-button-container">
                <button class="action-toggle-button" id="action-comment-toggle-button"
                        onclick="showCommentPeopleBoxWithCommentWindow()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-message-square">
                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                    </svg>
                </button>
                <p class="action-toggle-text">chat</p>
            </div>
            <div class="people action-toggle-button-container">
                <button class="action-toggle-button" id="action-people-toggle-button"
                        onclick="showCommentPeopleBoxWithPeopleWindow()">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 100.353 100.353" style="enable-background:new 0 0 100.353 100.353;"
                         xml:space="preserve">
<g>
	<path d="M67.1,53.7c-16.928,0-30.7,13.771-30.7,30.699c0,0.828,0.671,1.5,1.5,1.5h58.4c0.828,0,1.5-0.672,1.5-1.5
		C97.8,67.472,84.027,53.7,67.1,53.7z M39.44,82.9C40.222,68.322,52.329,56.7,67.1,56.7S93.978,68.322,94.76,82.9H39.44z"/>
    <path d="M66.5,49.6c9.76,0,17.7-7.94,17.7-17.7s-7.94-17.7-17.7-17.7s-17.7,7.94-17.7,17.7S56.74,49.6,66.5,49.6z M66.5,17.2
		c8.105,0,14.7,6.594,14.7,14.7c0,8.105-6.595,14.7-14.7,14.7s-14.7-6.594-14.7-14.7C51.8,23.794,58.395,17.2,66.5,17.2z"/>
    <path d="M25.4,64.2c3.623,0,7.161,0.965,10.234,2.79c0.713,0.423,1.633,0.188,2.056-0.524c0.423-0.712,0.188-1.632-0.523-2.056
		c-3.536-2.1-7.605-3.21-11.766-3.21C12.607,61.2,2.2,71.608,2.2,84.4c0,0.828,0.671,1.5,1.5,1.5h27c0.829,0,1.5-0.672,1.5-1.5
		s-0.671-1.5-1.5-1.5H5.255C6.025,72.459,14.766,64.2,25.4,64.2z"/>
    <path d="M25.1,56.6c7.499,0,13.6-6.101,13.6-13.6c0-7.499-6.101-13.6-13.6-13.6S11.5,35.501,11.5,43
		C11.5,50.499,17.601,56.6,25.1,56.6z M25.1,32.4c5.845,0,10.6,4.755,10.6,10.6s-4.755,10.6-10.6,10.6S14.5,48.845,14.5,43
		S19.255,32.4,25.1,32.4z"/>
</g>
</svg>

                </button>
                <p class="action-toggle-text">people</p>
            </div>
            <div class="leave action-toggle-button-container">
                <button class="action-toggle-button" id="leave-toggle-button" onclick="leaveSession()">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"/>
                    </svg>
                </button>
                <p class="action-toggle-text">leave</p>
            </div>
        </div>
    </div>


    <div class="comment-people-container" id="comment-people-container">
        <div class="toggler">
            <button class="chat-toggler comment-view-toggle-button" id="comment-toggle-button"
                    onclick="showCommentWindow()">
                chat
            </button>
            <button class="people-toggler comment-view-toggle-button" id="people-list-toggle-button"
                    onclick="showPeopleList()">
                people
            </button>
            <button class="close-comment-people-window" onclick="closeCommentPeopleWindow()">
                <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'
                'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                <svg enable-background="new 0 0 26 26" id="Слой_1" version="1.1" viewBox="0 0 26 26"
                     xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M14.0605469,13L24.7802734,2.2802734c0.2929688-0.2929688,0.2929688-0.7675781,0-1.0605469  s-0.7675781-0.2929688-1.0605469,0L13,11.9394531L2.2802734,1.2197266c-0.2929688-0.2929688-0.7675781-0.2929688-1.0605469,0  s-0.2929688,0.7675781,0,1.0605469L11.9394531,13L1.2197266,23.7197266c-0.2929688,0.2929688-0.2929688,0.7675781,0,1.0605469  C1.3662109,24.9267578,1.5576172,25,1.75,25s0.3837891-0.0732422,0.5302734-0.2197266L13,14.0605469l10.7197266,10.7197266  C23.8662109,24.9267578,24.0576172,25,24.25,25s0.3837891-0.0732422,0.5302734-0.2197266  c0.2929688-0.2929688,0.2929688-0.7675781,0-1.0605469L14.0605469,13z" fill="#1D1D1B"/></svg>
            </button>
        </div>
        <div class="comment-container" id="comment-container">
            <div class="comment-view" id="comment-view">
            </div>
            <form class="comment-form">
                <textarea name="comment-field" id="comment-field" cols="40" rows="3"></textarea>
                <input type="submit" id="comment-send-button" value="Send" onclick="sendMessage(event)">
            </form>
        </div>
        <div class="people-container" id="people-container">
            <div class="handDiv">
                <button onclick="raiseHand(event)">Raise Hand</button>
                <button onclick="downHand(event)">Down Hand</button>
            </div>
        </div>
    </div>
</div>
<script src="/javaScript/room.js"></script>
<script th:inline="javascript">
    var list = new Map();
    var sessionName = [[${ sessionName }]];
    var token = [[${ token }]];
    var nickName = [[${ nickName }]];
    var userName = [[${ userName }]];
    var userId = [[${ userId }]];
    var image = [[${ image }]];

    console.warn('Request of TOKEN gone WELL (TOKEN:' + token + ')');

    OV = new OpenVidu();
    session = OV.initSession();
    session.on('streamCreated', (event) => {
        var subscriber = session.subscribe(event.stream, 'video-container');
        subscriber.on('videoElementCreated', (event) => {
            appendUserData(event.element, subscriber.stream.connection);
            adduser(subscriber.stream.connection);
        });
    });

    session.on('streamDestroyed', (event) => {
        removeUserData(event.stream.connection);
        removeUserFromShowList(event.stream.connection);
    });

    session.on('publisherStartSpeaking', (event) => {
        console.log('Publisher ' + event.connection.connectionId + ' start speaking');
        let videoElement = list.get(event.connection.connectionId);
        let mainVideo = $('#main-video video').get(0);
        if (mainVideo.srcObject !== videoElement.srcObject) {
            $('#main-video').fadeOut("fast", () => {
                $('#main-video p.nickName').html("lol");
                $('#main-video p.userName').html("lol");
                mainVideo.srcObject = videoElement.srcObject;
                $('#main-video').fadeIn("fast");
            });
        }
    });

    session.on('signal:raise-hand', (event) => {
        document.getElementById(event.data).style.display = "block";
    });
    session.on('signal:down-hand', (event) => {
        document.getElementById(event.data).style.display = "none";
    });

    session.on('signal:my-chat', (event) => {

        var reciveMsg = event.data;
        var sendBy = reciveMsg.substring(0, reciveMsg.indexOf(' '));
        var actualMessage = reciveMsg.substring(reciveMsg.indexOf(' '));

        console.log("********************" + reciveMsg + "********************");
        console.log("********************" + sendBy + "********************");
        console.log("********************" + actualMessage + "********************");

        if (reciveMsg.substring(0, nickName.length) != nickName) {
            var commentView = document.getElementById('comment-view');

            var commentBox = document.createElement('div');
            var time = document.createElement('p');
            var name = document.createElement('p');
            var subbox = document.createElement('div');
            var textview = document.createElement('div');
            var photodiv = document.createElement('div');
            var img = document.createElement('img');

            commentBox.className = "comment-left";
            time.className = "comment-time-left";
            name.className = "commentator-name-left";
            subbox.className = "comment-inside";
            textview.className = "comment-text";
            photodiv.className = "comment-photo";


            var d = new Date();
            time.innerHTML = d.getHours() + ":" + d.getMinutes();
            name.innerHTML = sendBy
            textview.innerHTML = actualMessage;
            img.src = "@{'data:image/jpeg;base64,'+${image}}";

            photodiv.appendChild(img);
            subbox.appendChild(photodiv);
            subbox.appendChild(textview);
            commentBox.appendChild(time);
            commentBox.appendChild(name);
            commentBox.appendChild(subbox);
            commentView.appendChild(commentBox);
            document.getElementById('comment-field').value = '';
            commentView.scrollTop = commentView.scrollHeight - commentView.clientHeight;
        }
        console.log(event.data); // Message
        console.log(event.from); // Connection object of the sender
        console.log(event.type); // The type of message ("my-chat")
    });


    var publisher = null
    session.connect(token, {clientData: nickName})
        .then(() => {
            $('#session-title').text(sessionName);
            $('#join').hide();
            $('#session').show();

            if (true) {
                publisher = OV.initPublisher('video-container', {
                    audioSource: undefined,
                    videoSource: undefined,
                    publishAudio: true,
                    publishVideo: true,
                    resolution: '640x480',
                    frameRate: 30,
                    insertMode: 'APPEND',
                    mirror: false
                });
                publisher.on('videoElementCreated', (event) => {

                    var userData = {
                        nickName: nickName,
                        userName: userName
                    };
                    initMainVideo(event.element, userData);
                    appendUserData(event.element, userData);
                    adduser(userData);
                    $(event.element).prop('muted', true);
                });
                session.publish(publisher);
            } else {
                console.warn('You don\'t have permissions to publish');
                initMainVideoThumbnail();
            }
        })
        .catch(error => {
            console.warn('There was an error connecting to the session:', error.code, error.message);
        });


    function leaveSession() {
        session.disconnect();
        document.location.href = "/home";
    }

    function appendUserData(videoElement, connection) {
        var clientData;
        var serverData;
        var nodeId;
        var dataNode = document.createElement('div');
        if (connection.nickName) {
            clientData = connection.nickName;
            serverData = connection.userName;
            nodeId = 'main-videodata';
        } else {
            clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
            var JsonObj = JSON.parse(connection.data.split('%/%')[1]);
            serverData = JsonObj.userName;
            nodeId = connection.connectionId;
            list.set(connection.connectionId, videoElement);
            const aTag = document.createElement('a');
            aTag.href = '/home/remove-user/' + nodeId;
            aTag.innerHTML = "remove";
            dataNode.appendChild(aTag);
        }
        dataNode.className = "data-node";
        dataNode.id = "data-" + nodeId;
        dataNode.innerHTML = '<p class="nickName">' + clientData + '</p><p class="userName">' + serverData + '</p>';
        videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
        addClickListener(videoElement, clientData, serverData);
    }

    function removeUserData(connection) {
        var userNameRemoved = $("#data-" + connection.connectionId);
        if ($(userNameRemoved).find('p.userName').html() === $('#main-video p.userName').html()) {
            cleanMainVideo(); // The participant focused in the main video has left
        }
        $("#data-" + connection.connectionId).remove();
    }

    function removeUserFromShowList(connection) {
        console.log("remove user");
        liveUser = JSON.parse(connection.data.split('%/%')[0]).clientData;
        document.getElementById(liveUser).style.display = "none";
    }

    function removeAllUserData() {
        $(".data-node").remove();
    }

    function cleanMainVideo() {
        $('#main-video video').get(0).srcObject = null;
        $('#main-video p').each(function () {
            $(this).html('');
        });
    }

    function addClickListener(videoElement, clientData, serverData) {
        videoElement.addEventListener('click', function () {
            var mainVideo = $('#main-video video').get(0);
            if (mainVideo.srcObject !== videoElement.srcObject) {
                $('#main-video').fadeOut("fast", () => {
                    $('#main-video p.nickName').html(clientData);
                    $('#main-video p.userName').html(serverData);
                    mainVideo.srcObject = videoElement.srcObject;
                    $('#main-video').fadeIn("fast");
                });
            }
        });
    }

    function initMainVideo(videoElement, userData) {
        $('#main-video video').get(0).srcObject = videoElement.srcObject;
        $('#main-video p.nickName').html(userData.nickName);
        $('#main-video p.userName').html(userData.userName);
        $('#main-video video').prop('muted', true);
    }

    function initMainVideoThumbnail() {
        $('#main-video video').css("background", "url('images/user.png') round");
    }


    function screenShare() {

        session.unpublish(publisher);
        publisher = OV.initPublisher('video-container', {videoSource: "screen"}, function (error) {
            if (error.name == 'SCREEN_EXTENSION_NOT_INSTALLED') {
                showWarning(error.message);

                // showWarning could show a button with href 'error.message',
                // so the user can navigate to install the extension.
                // A browser refresh is also needed after installation

            } else if (error.name == 'SCREEN_SHARING_NOT_SUPPORTED') {
                alert('Your browser does not support screen sharing');
            } else if (error.name == 'SCREEN_EXTENSION_DISABLED') {
                alert('You need to enable screen sharing extension');
            } else if (error.name == 'SCREEN_CAPTURE_DENIED') {
                alert('You need to choose a window or application to share');
            }
        });
        session.publish(publisher);
    }

    function sendMessage(event) {
        event.preventDefault();
        var mes = document.getElementById('comment-field').value;
        if (mes.trim() != "" && mes != null) {
            var message = nickName + " " + mes;
            session.signal({
                data: message,  // Any string (optional)
                to: [],                     // Array of Connection objects (optional. Broadcast to everyone if empty)
                type: 'my-chat'             // The type of message (optional)
            })
                .then(() => {
                    console.log('Message successfully sent');
                })
                .catch(error => {
                    console.error(error);
                });
            var commentView = document.getElementById('comment-view');

            var commentBox = document.createElement('div');
            var time = document.createElement('p');
            var name = document.createElement('p');
            var subbox = document.createElement('div');
            var textview = document.createElement('div');
            var photodiv = document.createElement('div');
            var img = document.createElement('img');

            commentBox.className = "comment";
            time.className = "comment-time";
            name.className = "commentator-name";
            subbox.className = "comment-inside";
            textview.className = "comment-text";
            photodiv.className = "comment-photo";

            var d = new Date();
            time.innerHTML = d.getHours() + ":" + d.getMinutes();
            name.innerHTML = nickName;
            textview.innerHTML = mes;
            img.src = "/pics/person1.jpg";

            photodiv.appendChild(img);
            subbox.appendChild(textview);
            subbox.appendChild(photodiv);
            commentBox.appendChild(time);
            commentBox.appendChild(name);
            commentBox.appendChild(subbox);
            commentView.appendChild(commentBox);
        }
    }

    function adduser(connection) {
        var liveUser = null;
        var raiseHandId = null;
        var userImage = null;
        if (connection.nickName) {
            liveUser = connection.nickName;
            raiseHandId = userId;
            userImage = image;
        } else {
            liveUser = JSON.parse(connection.data.split('%/%')[0]).clientData;
            JSONObj = JSON.parse(connection.data.split('%/%')[1]);
            raiseHandId = JSONObj.userId;
            userImage = JSONObj.image;
        }

        var userContainer = document.getElementById('people-container');

        var userBox = document.createElement('div');
        var userDetails = document.createElement('div');
        var photoDiv = document.createElement('div');
        var img = document.createElement('img');
        var name = document.createElement('div');
        var buttons = document.createElement('div');
        var raiseHandDiv = document.createElement('div');
        var camerabtn = document.createElement('button');
        var micebtn = document.createElement('button');

        userBox.className = "user";
        userBox.setAttribute("id", liveUser);
        userDetails.className = "user-details";
        photoDiv.className = "photo";
        name.className = "name";
        buttons.className = "buttons";
        camerabtn.className = "camera-button";
        micebtn.className = "mic-button";
        raiseHandDiv.className = "raise-hand-div";

        img.setAttribute("th:src", "*{'data:image/jpg;base64,'" + userImage + "}");
        name.innerHTML = liveUser;
        raiseHandDiv.innerHTML = '<svg height="486pt" viewBox="-64 0 485 486" width="486pt" xmlns="http://www.w3.org/2000/svg"><path d="m91.320312 486h98.019532c32.964844 0 63.371094-18.976562 79.351562-49.675781l87.394532-167.847657c1.738281-3.335937.910156-7.433593-1.988282-9.828124l-8.984375-7.4375c-10.375-9.644532-24.28125-14.5625-38.410156-13.589844-14.425781 1.058594-27.761719 8.066406-36.816406 19.34375l-10.289063 12.527344-.125-182.511719c-.015625-22.222657-17.332031-40.300781-38.378906-40.300781-8.257812 0-15.351562 2.785156-22.351562 7.507812v-14.054688c0-22.234374-16.753907-40.132812-37.808594-40.132812h-.707032c-19.132812 0-35.023437 14.847656-37.765624 34.261719-6.433594-5.089844-14.394532-7.871094-22.601563-7.898438-21.054687-.003906-38.117187 18.042969-38.117187 40.28125v40.457031c-6-4.734374-14.054688-7.101562-22.316407-7.101562h-.671875c-21 0-38.132812 17.835938-38.183594 40.011719-.132812 57.515625-.050781 158.941406.035157 249.679687.050781 53.214844 40.746093 96.308594 90.714843 96.308594zm-74.75-345.949219c.03125-13.378906 9.984376-24.050781 22.183594-24.050781h.671875c12.230469 0 22.316407 10.492188 22.316407 23.910156v105.199219c0 4.417969 3.582031 8 8 8 4.421874 0 8-3.582031 8-8v-178.464844c0-13.414062 9.734374-24.332031 22.035156-24.332031 12.234375 0 21.964844 10.917969 21.964844 24.332031v178.472657c0 4.417968 3.582031 8 8 8 4.421874 0 8-3.582032 8-8v-204.972657c0-13.417969 10.25-24.144531 22.484374-24.144531h.707032c12.230468 0 22.183594 10.816406 22.183594 24.226562v45.613282c-.011719.402344-.015626.789062-.015626 1.199218 0 .175782 0 .339844.015626.511719 0 20.273438-.007813 42.230469-.011719 63.140625-.011719 48.496094-.019531 90.371094 0 94.457032.015625 4.417968 3.609375 7.988281 8.027343 7.972656 4.417969-.015625 7.988282-3.609375 7.972657-8.027344-.015625-4.058594-.007813-45.925781 0-94.402344 0-21.425781.007812-43.949218.011719-64.636718.464843-12.972657 10.230468-23.367188 22.175781-23.367188 12.21875 0 22.171875 10.90625 22.179687 24.3125l.144532 204.828125c.003906 3.378906 2.125 6.390625 5.304687 7.527344 3.179687 1.140625 6.730469.15625 8.875-2.453125l24.457031-29.769532c6.277344-7.867187 15.535156-12.769531 25.570313-13.539062 9.816406-.648438 19.460937 2.8125 26.621093 9.554688.101563.09375.203126.183593.308594.269531l4.160156 3.449219-84.414062 162.070312c-13.214844 25.386719-38.183594 41.0625-65.160156 41.0625h-98.019532c-41.15625 0-74.671874-35.921875-74.714843-80.324219-.085938-90.726562-.167969-192.136719-.035157-249.625zm0 0"/></svg>';
        raiseHandDiv.setAttribute("id", raiseHandId);
        camerabtn.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>';
        micebtn.innerHTML = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\n' +
            '                                viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">\n' +
            '                        <path d="M15,18.405c-0.553,0-1,0.447-1,1c0,0.046,0,5.124,0.001,5.16c0.076,6.14,4.928,11.185,11.007,11.687\n' +
            '                            C25.007,36.266,25,36.278,25,36.292v2.71h-4.546c-0.553,0-1,0.447-1,1s0.447,1,1,1h11.092c0.553,0,1-0.447,1-1s-0.447-1-1-1H27\n' +
            '                            v-2.71c0-0.014-0.007-0.026-0.008-0.04c6.055-0.501,10.905-5.524,11.006-11.636C37.999,24.555,38,19.467,38,19.405\n' +
            '                            c0-0.553-0.447-1-1-1s-1,0.447-1,1c0,0.061-0.001,5.039-0.002,5.178c-0.088,5.359-4.573,9.719-9.998,9.719\n' +
            '                            c-5.447,0-9.933-4.379-9.999-9.759C16,24.397,16,19.45,16,19.405C16,18.853,15.553,18.405,15,18.405z"/>\n' +
            '                               <path d="M32.9,24.482v-8.642c0-3.771-3.096-6.839-6.9-6.839s-6.9,3.068-6.9,6.839v8.642c0,3.771,3.096,6.839,6.9,6.839\n' +
            '                            S32.9,28.253,32.9,24.482z M21.1,24.482v-8.642c0-2.668,2.198-4.839,4.9-4.839s4.9,2.171,4.9,4.839v8.642\n' +
            '                            c0,2.668-2.198,4.839-4.9,4.839S21.1,27.15,21.1,24.482z"/>\n' +
            '                        </svg>';


        photoDiv.appendChild(img);
        userDetails.appendChild(photoDiv);
        userDetails.appendChild(name);

        buttons.appendChild(raiseHandDiv);
        buttons.appendChild(camerabtn);
        buttons.appendChild(micebtn);

        userBox.appendChild(userDetails);
        userBox.appendChild(buttons);
        userContainer.appendChild(userBox);

    }

    function raiseHand(event) {
        event.preventDefault();
        session.signal({
            data: userId,  // Any string (optional)
            to: [],                     // Array of Connection objects (optional. Broadcast to everyone if empty)
            type: 'raise-hand'             // The type of message (optional)
        })

    }

    function downHand(event) {
        event.preventDefault();
        session.signal({
            data: userId,  // Any string (optional)
            to: [],                     // Array of Connection objects (optional. Broadcast to everyone if empty)
            type: 'down-hand'             // The type of message (optional)
        })
    }

    var videoEnabled = true;

    function onOffCamera() {
        if (videoEnabled) {
            videoEnabled = false
            publisher.publishVideo(videoEnabled);
            document.getElementById('cam-off-icon').style.display = "inline";
            document.getElementById('cam-on-icon').style.display = "none";
        } else {
            videoEnabled = true
            publisher.publishVideo(videoEnabled);
            document.getElementById('cam-off-icon').style.display = "none";
            document.getElementById('cam-on-icon').style.display = "inline";
        }// true to enable the video track, false to disable it
    }

    var audioEnabled = true;

    function onOffMic() {
        if (audioEnabled) {
            audioEnabled = false
            publisher.publishAudio(audioEnabled);
            document.getElementById('mic-off-icon').style.display = "inline";
            document.getElementById('mic-on-icon').style.display = "none";
        } else {
            audioEnabled = true;
            publisher.publishAudio(audioEnabled);
            document.getElementById('mic-off-icon').style.display = "none";
            document.getElementById('mic-on-icon').style.display = "inline";
        }// true to enable the video track, false to disable it
    }


</script>
</body>
</html>