<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign-up.css">
    <title>sign-up</title>
</head>
<body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
</style>
<div th:replace="header :: BeforeLogin"></div>
<div class="sign-up-form-container">
    <h1 id="sign-up-form-heading" style="font-family: 'Comic Neue',serif">Sign up</h1>
    <div class="image-container">
        <img src="/images/signup-design-image2.png" alt="bird image">
    </div>
    <form action="#" th:action="@{/auth/register}" th:object="${user}" onsubmit="return validateRegistration()"
          method="post" id="sign-up-form">
        <label for="userName" class="input-label">Name</label>
        <input th:field="*{name}" type="text" name="name" id="userName" class="input-field"
               placeholder="enter your name">
        <label for="userEmail" class="input-label">Email</label>
        <input th:field="*{email}" type="email" name="email" id="userEmail" class="input-field"
               placeholder="enter your email">
        <label for="userPassword" class="input-label">Password</label>
        <input th:field="*{password}" type="password" name="userPassword" id="userPassword" class="input-field"
               placeholder="enter password">
        <label for="confirmPassword" class="input-label">Confirm Password</label>
        <input th:field="*{confirmPassword}" type="password" name="confirmPassword" id="confirmPassword"
               class="input-field" placeholder="confirm password">
        <input th:field="*{termsAccepted}" type="checkbox" name="accept-terms" id="accept-terms">
        <label for="accept-terms" class="input-label accept-terms-label">I accept the Whereby terms and services</label>
        <p th:text="${error}" id="error-message"></p>
        <input type="submit" name="sign-up" value="sign up" class="sign-up-button" id="sign-up-button" disabled>
        <p id="login-link">already have an account? <a href="/auth/login">login</a></p>
    </form>
</div>
<div class="image-container2">
    <img src="/images/signup-design-image.png" alt="tree">
</div>
<div th:replace="footer :: footer"></div>
<script src="/javaScript/signup.js"></script>
</body>
</html>